#header {
    text-align: center;
}

body{
    background-color: #FFFFF0;
}

#container {
    background-color: #FFFFF0;
    width: 100%;
}


#intro{
    font-size:14pt;
}
#container {
    background-color: #FFFFF0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size:14pt;
}

footer {
    clear: both;
    background-color: #FFFFF0;
    text-align: center;
    font-size: 12;
}