#header {
    font-family: 'Times New Roman', Times, serif;
    padding:5px;
    text-align: center;
}

#buttons{
    background-color: #FFFFF0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size:15;
}

#context{
    font-size:14pt;
    text-align:left;
}

#container {
    background-color: #FFFFF0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size:15;
}



#footer {
    clear: both;
    background-color: #FFFFF0;
    text-align: center;
    font-size: 12;
}

#index .selected{
    color: darkgreen;
    font-weight:bold;
    will-change:opacity;
}

#index ul {
    text-decoration: none;
}
#info {
    text-decoration:none;
    list-style-type:square;
}


a {
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    font-size:14pt;
}
#index-list{
    padding-left:50px;
}

#mj {
    text-align: center;
    
}

#index .index_header {
    text-align: center;
    font-size:16pt;
}

#footer{
    padding-top:500px;
}

#index-list{
        list-style-type: "* ";
        margin-left: auto;
        margin-right: 100px;
    
}
