#header {
    text-align: center;
}

body {
    background-color: #FFFFF0;
}

#container {
    background-color: #FFFFF0;
}

#mathtest {
    text-align: center;
    size: 4px;
}

#problem {
    font-size: 14pt;
}

#content {
    padding: 10px;
}

#container {
    background-color: #FFFFF0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    background-color: #FFFFF0;
    text-align: center;
    font-size: 12;
}

#problem .eq1{
    word-spacing: 40px;
}

#solution{
    font-size: 14pt;
}

#solution .question2{
    text-align: center;
    font-size: 15pt;
}

#fourier {
    font-size: 14pt;
}

#img1-comparison {

}

#img1-explanation {
    font-size: 12pt;
    color: #373737;
}

#fourier .fourierbullet{
    list-style-type: "* ";
    margin-left: auto;
    margin-right: 100px;
}

#fourier .link{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

#fourier .f1{
    text-align: justify;
}

#solution .untrivial{
    text-decoration: none;
    list-style-type: square;
}

#joshmo {
    list-style-type: "*"
}