#header {
    text-align: center;
}


body{
    background-color: #FFFFF0;
}

#container {
    background-color: #FFFFF0;
    width: 100%;
}

#intro{
    font-size:14pt;
}
#container {
    background-color: #FFFFF0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.link{
    text-decoration: none;
    color: darkred;
}

#buttons{
    background-color: #FFFFF0;
    display:block;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
} /* Codes my home and next page buttons to align with title */

.home , .nextpage{color:darkslategrey;text-decoration:none;} /* Codes my home and next page buttons to align with title */


footer {
    clear: both;
    background-color: #FFFFF0;
    text-align: center;
    font-size: 12;
}

#eqnote{
    text-align:center;
    font-size:10pt;
    width:500px;
    margin-left:auto;margin-right:auto;
}

h3{text-align:center;}

li + li {margin-top: 6px;}

#special{
    font-size:12pt;
    font-weight:none;
    color:darkblue;
}

#transformation{
will-change:transform, opacity;
transform: translateZ(0);
}
